@tailwind base;
@tailwind components;
@tailwind utilities;

/* IranYekanFaNum */

@font-face {
  font-family: IranYekanFaNum-Thin;
  font-weight: 100;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-Thin.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-Light;
  font-weight: 300;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-Light.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-Regular;
  font-weight: 400;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-Regular.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-Medium;
  font-weight: 500;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-Medium.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-SemiBold;
  font-weight: 600;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-DemiBold.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-Bold;
  font-weight: 700;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-Bold.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-ExtraBold;
  font-weight: 800;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-ExtraBold.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-Black;
  font-weight: 900;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-Black.woff') format("woff");
}
@font-face {
  font-family: IranYekanFaNum-ExtraBlack;
  font-weight: 950;
  src: url('../src/fonts/IRANYekanX(Pro)/IRANYekanXFaNum-ExtraBlack.woff') format("woff");
}
/* IranSansFaNum */

@font-face {
  font-family: IranSansFaNum-Thin;
  font-weight: 100;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-Thin.woff') format("woff");
}
@font-face {
  font-family: IranSansFaNum-Light;
  font-weight: 300;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-Light.woff') format("woff");
}
@font-face {
  font-family: IranSansFaNum-Regular;
  font-weight: 400;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-Regular.woff') format("woff");
}
@font-face {
  font-family: IranSansFaNum-Medium;
  font-weight: 500;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-Medium.woff') format("woff");
}
@font-face {
  font-family: IranSansFaNum-SemiBold;
  font-weight: 600;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-DemiBold.woff') format("woff");
}
@font-face {
  font-family: IranSansFaNum-Bold;
  font-weight: 700;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-Bold.woff') format("woff");
}
@font-face {
  font-family: IranSansFaNum-ExtraBold;
  font-weight: 800;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-ExtraBold.woff') format("woff");
}
@font-face {
  font-family: IranSansFaNum-Black;
  font-weight: 900;
  src: url('../src/fonts/IranSansX(Pro)/IRANSansXFaNum-Black.woff') format("woff");
}

/* RokhFaNum */

@font-face {
  font-family: RokhFaNum-Thin;
  font-weight: 100;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-Thin.woff') format("woff");
}
@font-face {
  font-family: RokhFaNum-Light;
  font-weight: 300;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-Light.woff') format("woff");
}
@font-face {
  font-family: RokhFaNum-Regular;
  font-weight: 400;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-Regular.woff') format("woff");
}
@font-face {
  font-family: RokhFaNum-Medium;
  font-weight: 500;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-Medium.woff') format("woff");
}
@font-face {
  font-family: RokhFaNum-SemiBold;
  font-weight: 600;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-SemiBold.woff') format("woff");
}
@font-face {
  font-family: RokhFaNum-Bold;
  font-weight: 700;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-Bold.woff') format("woff");
}
@font-face {
  font-family: RokhFaNum-ExtraBold;
  font-weight: 800;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-ExtraBold.woff') format("woff");
}
@font-face {
  font-family: RokhFaNum-Black;
  font-weight: 900;
  src: url('../src/fonts/Rokh_Pro/RokhFaNum-Black.woff') format("woff");
}

/* Montserrat */

@font-face {
  font-family: Montserrat-Regular;

  src: url('../src/fonts/Montserrat-Regular.ttf') format("trueType");
}
@font-face {
  font-family: Montserrat-Bold;

  src: url('../src/fonts/Montserrat-Bold.ttf') format("trueType");
}

/*  */

.font-normal{
  font-weight: 400;
  @apply rtl:font-iranSansRegular ltr:font-MontserratRegular;
}
.font-medium{
  font-weight: 500;
  @apply rtl:font-iranSansMedium ltr:font-MontserratRegular;
}
.font-semibold{
  font-weight: 600;
  @apply rtl:font-iranSansSemiBold ltr:font-MontserratBold;
}
.font-bold{
  font-weight: 700;
  @apply rtl:font-iranSansBold ltr:font-MontserratBold;
}
.font-extrabold{
  font-weight: 800;
  @apply rtl:font-iranSansExtraBold ltr:font-MontserratBold;
}
.font-black{
  font-weight: 900;
  @apply rtl:font-iranSansBlack ltr:font-MontserratBold;
}
.font-MorabbaExtraBold{
  font-family: Morabba-ExtraBold;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: IranSansFaNum-Regular!important;
  user-select: none;
  overflow-x: hidden;
  background-color: #F5F5F5;
}
/* global styles */
a {
  cursor: pointer;
  transition: all .4s
}
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.transition {
  @apply transition-all duration-300;
}
.overlay{
  position: relative;
}
.bg-blur {
  background-color: #9A9A9A9C;
  backdrop-filter: blur(16.100000381469727px);
  -webkit-backdrop-filter: blur(16.100000381469727px);
}
.reverse{
  @apply ltr:[transform:rotateY(0deg)] rtl:[transform:rotateY(180deg)]
}
.shadow-1{
  box-shadow: 0px 0px 200px 0px #0000000D;
}
.shadow-next {
  box-shadow: -2px 0px 24px 0px #0000001A;
}
/* number input */
input[type="number"] {
  -moz-appearance: textfield; /* برای فایرفاکس */
  appearance: textfield; /* برای مرورگرهای مدرن */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* برای کروم و سافاری */
  margin: 0; /* حذف margin پیش‌فرض */
}
/* mobile menu */
header.active{
  z-index: 99;
}
header.active{
  fill: #9b9b9b;
}
#hamIcon.active svg:last-child{
  display: block;
}
#hamIcon.active svg:first-child{
  display: none;
}
.mobileMenu{
  display: none;
  z-index: 999;
}
.mobileMenu.active{
  display: block;
}
.text-nowrap{
  text-wrap: nowrap;
}
/* scroll */
.noscroll {
  scrollbar-width: none; /* برای Firefox */
  -ms-overflow-style: none; /* برای IE و Edge */
}

.noscroll::-webkit-scrollbar {
  display: none; /* برای Chrome, Safari و Opera */
}
/* editor */
.editor-section {
  font-family: IranYekanFaNum-Regular!important;
}
.editor-section img{
  border-radius: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.editor-section h1{
 font-size: 28px !important;
}
.editor-section h1,.editor-section h2,.editor-section h3{
 font-family: IranSansFaNum-Black !important;
 word-spacing: 1px !important;
}
.editor-section p{
  font-family: IranSansFaNum-Regular !important;
  line-height: 35px !important;
}
.editor-section span,.editor-section strong{
  font-family: IranSansFaNum-Regular !important;
}
.editor-section blockquote{
  @apply bg-[#E8EDF3] rounded-[15px] py-2.5 px-5 text-sm mt-[14px] inline-block;
}
.editor-section table{
  @apply overflow-hidden w-full ltr:text-left text-right;
}
.editor-section thead{
   @apply text-primary;
}
.editor-section th{
  @apply !py-4 text-sm sm:text-base text-primary font-extrabold;
}
.editor-section th{
  @apply rtl:sm:pr-10 ltr:sm:pl-10 rtl:pr-4 ltr:pl-4;
}
.editor-section tbody{
  @apply bg-white rounded-[15px] sm:rounded-[30px];
}
.editor-section tbody tr td {
  @apply text-sm text-primary opacity-70 rtl:sm:pr-10 rtl:pr-4 ltr:sm:pl-10 rtl:pl-4 ltr:pr-4;
}
.editor-section tbody tr:first-child td:first-child {
  @apply rtl:rounded-tr-[15px] rtl:sm:rounded-tr-[30px] ltr:rounded-tl-[15px] ltr:sm:rounded-tl-[30px];
}
.editor-section tbody tr:first-child td:last-child {
  @apply rtl:rounded-tl-[15px] rtl:sm:rounded-tl-[30px] ltr:rounded-tr-[15px] ltr:sm:rounded-tr-[30px];
}
.editor-section tbody tr:last-child td:first-child {
  @apply rtl:rounded-br-[15px] rtl:sm:rounded-br-[30px] ltr:rounded-bl-[15px] ltr:sm:rounded-bl-[30px];
}
.editor-section tbody tr:last-child td:last-child {
  @apply rtl:rounded-bl-[15px] rtl:sm:rounded-bl-[30px] ltr:rounded-br-[15px] ltr:sm:rounded-br-[30px];
}
.editor-section tbody td{
  @apply py-5 opacity-60 border-b border-[#00000020] leading-6;
}
.editor-section tbody td:nth-child(1){
  /* @apply w-1/3 */
}
.editor-section tbody td:nth-child(2){
  /* @apply w-2/3 */
}
.editor-section tbody tr:last-child td{
  @apply !border-b-0;
}
.editor-section ul{
  font-weight: bold;
  color: 404040;
  position: relative;
}
.editor-section ul::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #110E2D;
}
.editor-section ul::before{
  @apply rtl:right-[14px] ltr:left-[14px];
}
.editor-section ul li{
  @apply relative flex flex-wrap items-center gap-2 text-sm p-3 rtl:pr-10 ltr:pl-10 last:mb-0 text-[00000070] font-semibold;
}
.editor-section ul li::before{
  content: url('../src/img/Ellipse 113.PNG');
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  top:15px;
}
.editor-section ul li::before{
  @apply rtl:right-2 ltr:left-2
}
.editor-section ul li{
  @apply text-sm text-[#00000070];
}
/* editor 2 */
.editor-section2 ul{
  @apply mt-6;
}
.editor-section2 ul li{
  @apply relative flex items-center gap-2 p-3 rounded-[20px] rtl:pr-10 ltr:pl-10 mb-3 last:mb-0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 151, 4, 0.1) 100%);
}
.editor-section2 ul li::before{
  content: url('../src/img/tick-circle.png');
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.editor-section2 ul li::before{
  @apply rtl:right-2 ltr:left-2
}
.editor-section2 ul li{
  @apply text-sm text-[#2C2C2C];
}
/*  */
.ltrReverse{
  @apply ltr:[transform:rotateY(180deg)];
}
/* hover */

.btnHover:hover{
  animation: jello-horizontal 0.9s both;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
@media (max-width: 1024px){
 .shadow-lg-none{
  box-shadow: none;
 }
}
@media (max-width: 768px){

}
@media (max-width: 640px){

}